
img {
  width: 100%;  
  display: flex;
  justify-content: space-between;
  border: solid black 4px;
  border-spacing: 5px;
  margin: auto;
}

.octocat {
  position: relative;
  width: 33%;
  display: inline-block;
}

.authors {
  max-height: 1px;
  overflow: hidden;
}

 .image-caption {
  position: relative;
  text-align: right;
  
 }

span.image-number {
  position: relative;
  text-align: right;
  display: flex;
}