
img {
  width: 100%;  
  border: solid black 1px;
  border-spacing: 4px;
  margin: auto;
}

.octocat {
  position: relative;
  width: 33%;
  display: inline-block;
}

.authors {
  max-height: 1px;
  overflow: hidden;
}

.image-caption {
  position: relative;
  text-align: right;
  
 }

.image-footer {
  text-align: left;
  color: gray;
  padding-left: 15px;
  padding-top: 1px;
}

a {
  text-decoration: none;
  color:black;
}